<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <a href="./new">New Message</a>
    <ul>
      <% messages.forEach(message => {%>
      <li><%=message.user%>: <%= message.text%></li>
      <li><%= getMessageTime(message.added) %></li>
      <a
        href="<%=`/message?name=${message.user}&time=${getMessageTime(message.added)}`%>"
        >Open</a
      >
      <% }) %>
    </ul>
  </body>
</html>
